---
import '../../styles/global.css';
const { title = 'Polis Conversation' } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
</head>
<body>
    <slot />
</body>
</html>